<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.logic.android.onetoone.basicvideochat">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"

        android:theme="@style/Theme.MyThemme">
        <activity android:name="com.logic.android.onetoone.basic_video_chat.login.SignUpActivity"></activity>
        <activity android:name="com.logic.android.onetoone.basic_video_chat.dashboard.DashBoardActivity" />
        <activity android:name="com.logic.android.onetoone.basic_video_chat.login.LoginActivity" />
        <activity android:name="com.logic.android.onetoone.basic_video_chat.onboard.OnBoardActivity" />
        <activity android:name="com.logic.android.onetoone.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.logic.android.onetoone.basic_video_chat.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.demoapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/freshchat_file_provider_paths" />
        </provider>
    </application>

</manifest>